/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/



  .theme-dark {
    --vertical-repeat-gradient:  #000;
    --gorizontal-repeat-gradient: #000;
    --linear-gradient: #007F0C;
    --linear-gradient-point: #004306;
    --main-border: 2px solid #00CC14;
    --themes-background: #000;
    --main-font-normal: 'PressStart 2P Regular', Courier;
    --main-font-variable: 'Inter',monospace;
    --main-shadow: 2px 2px #00CC14;
    --main-color:#00CC14;
    --main-color-blend-mode:#00CC14;
    --main-fill-heart-contour: #00CC14;
    --main-fill-heart-contour-is-liked: #FF0000;
    --main-fill-floppy: #00CC14;
    --main-fill-floppy-hover: #00CC14;
    --underline-transition: #00CC14;  
    --main-background-hover: #00CC14;
    --main-watermark: #00CC14;
  }  
  
  @media (prefers-color-scheme: dark) {
    :root {
      /* Дублируем переменные темной темы */
      --vertical-repeat-gradient:  #000;
      --gorizontal-repeat-gradient: #000;
      --linear-gradient: #007F0C;
      --linear-gradient-point: #004306;
      --main-border: 2px solid #00CC14;
      --themes-background: #000;
      --main-font-normal: 'PressStart 2P Regular', Courier;
      --main-font-variable: 'Inter',monospace;
      --main-shadow: 2px 2px #00CC14;
      --main-color:#00CC14;
      --main-color-blend-mode:#00CC14;
      --main-fill-heart-contour: #00CC14;
      --main-fill-heart-contour-is-liked: #FF0000;
      --main-fill-floppy: #00CC14;
      --main-fill-floppy-hover: #00CC14;
      --underline-transition: #00CC14;  
      --main-background-hover: #00CC14;
      --main-watermark: #00CC14;
    }
  }

  .theme-light {
    --vertical-repeat-gradient:  #d3d3d3;
    --gorizontal-repeat-gradient: #d3d3d3;
    --linear-gradient: #e7e7e7;
    --linear-gradient-point: #1a1a1a;
    --main-border: 2px solid #000;
    --themes-background: #FFF;
    --main-font-normal: 'PressStart 2P Regular', Courier;
    --main-font-variable: 'Inter',monospace;
    --main-shadow: 2px 2px #000;
    --main-color:#000;
    --main-color-blend-mode:#fff;
    --main-fill-heart-contour: #000;
    --main-fill-heart-contour-is-liked: #FF0000;
    --main-fill-floppy: #fff;
    --main-fill-floppy-hover: #FFF;
    --underline-transition: #000;
    --main-background-hover: #000;
    --main-watermark: #fff;
  }