/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --vertical-repeat-gradient:  #d3d3d3;
    --gorizontal-repeat-gradient: #d3d3d3;
    --linear-gradient: #e7e7e7;
    --linear-gradient-point: #1a1a1a;
    --main-border: 2px solid #000;
    --themes-background: #FFF;
    --main-font-normal: 'PressStart 2P Regular', Courier;
    --main-font-variable: 'Inter',monospace;
    --main-shadow: 2px 2px #000;
    --main-color:#000;
    --main-color-blend-mode:#fff;
    --main-fill-heart-contour: #000;
    --main-fill-heart-contour-is-liked: #FF0000;
    --main-fill-floppy: #000;
    --main-fill-floppy-hover: #FFF;
    --underline-transition: #000;
    --main-background-hover: #000;
    --main-watermark: #fff;
}


